.navigation {
  height: 100%;
  gap: 0.8rem;
  margin-top: 0px;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 950px) {
  .navigation {
    gap: 0.8rem;
    display: flex;
    position: fixed;
    background: black;
    height: 70px;
    width: 100%;
    left: 0;
    bottom: 0px;
  }
}
