.container {
  width: 90%;
  margin: auto;
  max-width: 1312px;
}
.sliderHeader {
  box-sizing: border-box;
  min-width: 0px;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 625px) {
  .container {
    width: 100%;
  }
}
